<style>

table {
  margin-left: 100px;
}

table tr:nth-child(even) {
  background-color: #eee;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14;
}

table tr:nth-child(even):hover {
  background-color: rgba(70,130,180,.5);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14;
}

table tr:nth-child(odd) {
  background-color:#fff;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14;
}

table tr:nth-child(odd):hover {
  background-color: rgba(70,130,180,.5);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


th, td {
  padding: 5px;
  text-align: center;
}

th {
  background-color: rgba(70,130,180,.8);
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  cursor: pointer;
}


</style>

<html>

  <h1> <u> Musicians Registered <u> </h1>

  <br>

  <table>
    <tr>
      <th> Name </th>
      <th> Instrument </th>
      <th> Available Times </th>
    </tr>

    <% Musician.all.sort_by{ |x| x.name }.each do |musician| %>
      <tr>
        <td> <%= musician.name %> </td>
        <td> <%= musician.primary_instrument %> </td>
        <td> <a href="https://www.custom-tracks.com/workflow/musicians/<%= musician.id %>" > Click for times </a> </td>
      </tr>
    <% end %>
  </table>



</html>
