<html>

  <p> Thank you for submitting, check your email for future bookings! </p>
  <button onclick="home()"> Go to Home Page </button>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>

    function home() {
      window.location.replace("https://www.custom-tracks.com")
    }

  </script>

</html>
