<html>

  <% if @double_click %>
    <p> A response has already been received for this message </p>
  <% else %>
    <p> Thanks! </p>
    <p> We'll check with the musician(s) and confirm with you if they're available </p>
    <p> Be on the lookout for an upcoming text! </p>
  <% end %>

</html>
